body {
  font-family: sans-serif;
  height: 1500px;
  margin: 0;
  padding: 0;
}

#boxTwo {
  background-color: red;
  top: 0;
  height: 80px;
  width: 100%;
  position: fixed;
}

#boxOne {
  display: inline-block;
  height: 1400px;
  width: 300px;
  right: 0;
  margin-top: 80px;
  background-color: yellow;
  border: 10px solid grey;
  position: absolute;
}

#boxThree {
  display: inline-block;
  background-color: skyblue;
  height: 1420px;
  width: 100%;
  margin-top: 80px;
  margin-left: 0;
}

#boxFour {
  position: absolute;
  display: Inline-block;
  background-color: greenyellow;
  height: 50px;
  width: 120px;
  right: 0;
  margin-right: 260px;
  margin-top: 55px;
}

h1 {
  display: inline-block;
  left: 0;
  top: 0;
  margin: 50px;

  font-size: 50px;
  color: white;
}
